#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Base";
			bindings = <
				&kp Z    &kp M       &kp K
				&kp Z    &kp LSHIFT  &kp Z
				&kp Q    &kp W       &kp E
			>;
		};
	};
};